{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

    <title>Sharif's Notebook</title>
</head>

<body>
    <div class="container-fluid pt-4" style="background-color:rgb(43, 134, 146);">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="center-block">

                    <a href="{% url 'home' %}" style="text-decoration:none;">
                        <h1 style="color:white;">
                            Sharif's Notebook</h1>
                    </a> </h1>
                    <h6>"Chase Your Dream, Coz Dreams Come True."-SRT.</h6>
                </div>
            </div>


        </div>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand btn btn-dark" href="#">Home</a>
            <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link btn btn-dark my-2 mx-2 my-lg-0" href="#">About Me <span class=" sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-dark my-2 mx-2 my-lg-0" href="#">Contact Me</a>
                    </li>

                    <form class="form-inline my-2 mx-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Topics" aria-label="Search">
                        <button class="btn btn btn-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>


                </ul>

                {%if user.is_authenticated %}
                <ul class="navbar-nav mr">

                    <li class="nav-item dropdown">
                        <button class="btn btn-success nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change_password</a>
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>

                </ul>

                {%else%}
                <form class="form-inline my-2 my-lg-0">
                    <a href="#" class="btn btn-dark p-2">Log in</a>
                    <a href="#" class="btn btn-dark p-2 ml-2">Sign up</a>
                </form>
                {%endif%}


            </div>
        </nav>
    </div>
    <!--end 1st Container-->




    <div class="container-fluid pb-4" style="background-color:rgba(238, 238, 238, 0.993);">
        <div class="container-fluid">
            <div class="row ">
                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'Python/PythonHome'%}" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>Python</h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                আমরা এই পর্বে পাইথন এর একবারে ব্যাসিক থেকে কিছু এডভান্স বিষয় নিয়ে আলোচনা করবো |
                                আশা করি এই সিরিজ থেকে আপনারা পাইথনের ব্যাসিক ও এডভান্স বিষয়াদি খুব ভালভাবেই জানতে
                                পারবেন |
                            </p>
                                <div class="alert alert-info" role="alert">
                                <a href="#" data-toggle="collapse" data-target="#Python">
                                    <h1><b> All Posts</b></h1>
                                </a>
                                <div id="Python" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">বিল্ট ইন ফাংশন</a></li>
                                            <li class="list-group-item"><a href="">বিল্ট ইন ফাংশন পার্ট ২</a></li>
                                            <li class="list-group-item"><a href="">লিস্ট অপারেশনস</a></li>
                                            <li class="list-group-item"><a href="">স্ট্রিং অপারেশনস</a></li>
                                            <li class="list-group-item"><a href="">Dictionary অপারেশনস</a></li>
                                            <li class="list-group-item"><a href="">লিস্ট কম্প্রিহেনশন</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{%url 'Programming/Home' %}" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>Programming</h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                এই সিরিজ টি সাজানো হয়েছে বিভিন্ন ডাটা স্ট্রাকচার, অ্যালগোরিদম, গ্রাফ থিওরি ও নাম্বার থিওরি এর সমন্বয়ে |
                                 আশা করা যায় এই সিরিজ থেকে প্রোগ্রামিং এর খুঁটিনাটি অনেক বিষয় জানতে পারবেন |  
                            </p>
                            <div class="alert alert-info" role="alert">
                                <a href="#" data-toggle="collapse" data-target="#Programming">
                                    <h1><b> All Posts</b></h1>
                                </a>
                                <div id="Programming" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">Post1</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post4</a></li>
                                            <li class="list-group-item"><a href="">Post5</a></li>
                                            <li class="list-group-item"><a href="">Post6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <!--end 1st row-->
            <div class="row">
                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'Django/Home'%}" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>Django</h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                Django পাইথনের একটি জনপ্রিয় ওয়েব ফ্রেমওয়ার্ক | 
                                এই সিরিজ টিতে Django এর ব্যাসিক থেকে কিছু এডভান্স বিষয় নিয়ে আলোচনা করা হয়েছে | 
                            </p>
                            <div class="alert alert-info" role="alert">
                                <a href="#" data-toggle="collapse" data-target="#Django">
                                    <h1><b> All Posts</b></h1>
                                </a>
                                <div id="Django" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">Django ORM and QuerySets</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post4</a></li>
                                            <li class="list-group-item"><a href="">Post5</a></li>
                                            <li class="list-group-item"><a href="">Post6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="#" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>Web Scrapping</h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                আমরা এই পর্বে পাইথন এর একবারে ব্যাসিক থেকে কিছু এডভান্স বিষয় নিয়ে আলোচনা করবো |
                                আশা করি এই সিরিজ থেকে আপনারা পাইথনের ব্যাসিক ও এডভান্স বিষয়াদি খুব ভালভাবেই জানতে
                                পারবেন |
                            </p>
                            <div class="alert alert-info" role="alert">
                                <a href="#" data-toggle="collapse" data-target="#Scrapping">
                                    <h1><b> All Posts</b></h1>
                                </a>
                                <div id="Scrapping" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">Post1</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post4</a></li>
                                            <li class="list-group-item"><a href="">Post5</a></li>
                                            <li class="list-group-item"><a href="">Post6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end 2nd row-->

            <div class="row">
                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'IQS/Home'%}" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>Interview QS</h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                    আমরা এই পর্বে পাইথন এর একবারে ব্যাসিক থেকে কিছু এডভান্স বিষয় নিয়ে আলোচনা করবো |
                                    আশা করি এই সিরিজ থেকে আপনারা পাইথনের ব্যাসিক ও এডভান্স বিষয়াদি খুব ভালভাবেই জানতে
                                    পারবেন |
                                </p>
                            <div class="alert alert-info" role="alert">
                                    <a href="#" data-toggle="collapse" data-target="#IQS">
                                        <h1><b> All Posts</b></h1>
                                    </a>
                                <div id="IQS" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">Post1</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post3</a></li>
                                            <li class="list-group-item"><a href="">Post4</a></li>
                                            <li class="list-group-item"><a href="">Post5</a></li>
                                            <li class="list-group-item"><a href="">Post6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'Others/Home'%}" style="text-decoration:none;">
                                <div class="demo p-4">
                                    <div class="center-block">
                                        <h1>HABIJABI </h1>
                                    </div>
                                </div>
                            </a>
                            <p class="pt-4">
                                এই সিরিজ টি কোন নিরদৃষ্ট বিষয়ের উপর নয় |
                                এই সিরিজএ আমরা বিভিন্ন  বিষয়ের উপর আলোকপাত করবো |
                            </p>
                            <div class="alert alert-info" role="alert">
                                <a href="#" data-toggle="collapse" data-target="#Others">
                                    <h1><b> All Posts</b></h1>
                                </a>
                                <div id="Others" class="collapse">
                                    <div class="card">
                                        <ul class="list-group list-group-flush justify-content-center">
                                            <li class="list-group-item"><a href="">Git And GitHub Part-1</a></li>
                                            <li class="list-group-item"><a href="">Git And GitHub Part-2</a></li>
                                            <li class="list-group-item"><a href="">উবুন্টুতে অভ্র ইন্সটল |</a></li>
                                            <li class="list-group-item"><a href="">আপনার প্রজেক্ট ফ্রিতে হোস্ট করুন |</a></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end of main Container-->




    <div class="container-fluid p-4" style="background-color:rgb(43, 134, 146);">
        <div class="container">
            <div class="row">
                <div class="center-block p-4">
                    <h6>All Right Reserve to....</h6>
                    <h2>Sharif's Notebook</h2>

                </div>
            </div>


        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>