{% extends 'index.html'%}
{% block content%}
<h1><b>লিস্ট অপারেশনস </b></h1><br>
<div class="post">
    <p class="pb-4" style="font-size:18px;">
        পাইথনে সবচেয়ে পরিচিত একটা ডাটা টাইপ হচ্ছে লিস্ট | আসলে লিস্ট পাইথনের একটি বিল্ট-ইন ডাটা স্ট্রাকচার | সি, সি+ এ
        যাহাই
        অ্যারে তাহাই পাইথনে লিস্ট | তবে অ্যারের চাইতে এর কিছু গুরুত্বপূর্ণ ফিচার আছে | আজকে আমাদের আলোচনার বিষয়বস্তু
        লিস্ট
        ডাটা টাইপ |
    </p>
</div>

<div class="post pb-4">
    <h3><b>লিস্ট এর দৈর্ঘ্য বের করাঃ </b></h3>
    <p class="pb-4" style="font-size:18px;">
        লিস্ট এর দৈর্ঘ্য বের করার জন্য <strong>len(list)</strong>মেথড বেব্যহার করা হয় |
        মেথডে লিস্টটি পাস করতে হয় অবশেষে তা লিস্ট এর দৈর্ঘ্য রিটার্ন করে |
    </p>

    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        a = [1, 2, 3, 4, 5]
        <br>print(len(a))
        <br>output:5
    </div>
</div>

<div class="post pb-4">
    <h3><b>আইটেম যোগ করাঃ </b></h3>
    <p class="pb-4" style="font-size:18px;">
        লিস্টে কোন একটা উপাদান ইন্ডেক্স যোগ করার জন্য <strong>append()</strong>মেথড বেব্যহার করা হয় |
        মেথডে উপাদানটি পাস করতে হয়, উপদানটি লিস্ট এর শেষে যোগ হয় |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        a = [1, 2, 3, 4, 5]
        <br>a.apped(10)
        <br>print(a)
        <br>output:[1, 2, 3, 4, 5,10]
    </div>
</div>

<div class="post pb-4">
    <h3 style="font-size: 25px"> <b> নিরদৃষ্ট ইন্ডেক্সে আইটেম যোগ করাঃ</b></h3>
    <p>লিস্টে কোন নিরদৃষ্ট ইন্ডেক্সে আইটেম যোগ করার জন্য <strong>insert(index, element)</strong>মেথড বেব্যহার করা হয় |
        index হচ্ছে কোন ইন্ডেক্সে element/উপদানটি যোগ হবে |
        উপদানটি লিস্ট এর নিরদৃষ্ট ইন্ডেক্সে যোগ হবে এবং পূর্বের উপদানটি মুছে যাবে |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        a = [1, 2, 3, 4, 5]
        <br>a.insert(3, 100)
        <br>print(a)
        <br>output:[1, 2, 3, 100, 5]
    </div>
</div>

<div class="post pb-4">
    <h3 style="font-size: 25px"><b> আইটেম গুনাগুনিঃ </b></h3>
    <p>
        লিস্ট এ কোন একটি আইটেম কতবার আছে তা হিসাব করার জন্য <strong>count(element)</strong>মেথড বেব্যহার করা হয় |
        যতবার উপাদানটি পাবে তা রিটার্ন করবেে আর না পেলে 0 রিটার্ন করবে |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        a = [1, 2, 2, 3, 4, 5]
        <br>print(a.count(2))
        <br>output:2
        <br>print(a.count(10))
        <br>output:0
    </div>

</div><br>




<div class="post pb-4">
    <h3 style="font-size: 25px"><b> লিস্ট যোগ করাঃ</b></h3>
    <p>এক লিস্টের সাথে অন্য লিস্ট যোগ করার জন্য <strong>extend()</strong>মেথড বেব্যহার করা হয় |
        2nd লিস্টের উপাদানগুলো 1st লিস্টের শেষে যোগ হবে, উল্লেখ্য 2nd লিস্ট অপরিবর্তিত থাকবে |

    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        lst1 = [1, 2, 3, 4, 5]
        <br>lst2 = [10, 20, 30]
        <br>lst1.extend(lst2)
        <br>print(lst1)
        <br>output:[1, 2, 3, 4, 5,10,20,30]
    </div>
    <p>
        অন্য একটি উপায়েও এই কাজটি করা যায়.....
    </p>

    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">

        lst1 = [1, 2, 3, 4, 5]
        <br>lst2 = [10, 20, 30]
        <br>lst1=lst1+lst2
        <br>print(lst1)
        <br>output:[1, 2, 3, 4, 5,10,20,30]
    </div>
</div>


<div class="post pb-4">
    <h3 style="font-size: 25px"><b> ইন্ডেক্স খোঁজাখূজিঃ</b></h3>
    <p>লিস্টে কোন একটা উপাদানের ইন্ডেক্স খুঁজে বের করার জন্য <strong>index()</strong>মেথড বেব্যহার করা হয় |
        মেথডে উপাদানটি পাস করতে হয়, উপদানটি পেলে তার ইন্ডেক্স রিটার্ন করে অন্যথায় ValueError থ্রো করে |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        a = [1, 2, 3, 4, 5]
        <br>a.index(5)
        <br>output:4<br>

        <br>a.index(7)
        <br>Traceback (most recent call last):
        <br>File "stdin", line 1, in module
        <br>ValueError: 'p' is not in list
    </div>
</div>


<div class="post pb-4">
    <h3 style="font-size: 25px"><b> List.reverse() মেথডের সাহায্যে লিস্ট উলটানোঃ</b></h3>
    <p>প্রত্যেক লিস্ট এর একটা বিল্ট ইন মেথড হল <strong>reverse()</strong> মেথড | যা কোন লিস্ট এর উপাদান গুলোকে শুধু
        উলটা
        করে দেখায় কিন্তু নতুন কোন লিস্ট তৈরি
        করেনা | শুধু লিস্ট টাকে মডিফাই করে |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        mylist = [1, 2, 3, 4, 5]
        <br>mylist.reverse()
        <br>print(mylist)
        <br>newlist output: [5,4,2,3,1]
    </div>
</div>

<div class="post pb-4">
    <h3 style="font-size: 25px"><b> "[::-1]" এর মাধ্যমে লিস্ট reverse করাঃ</b></h3>
    <p>লিস্ট reverse করার আর একটা উপায় হল [::-1].
        এটাও লিস্ট এর উপাদান গুলোকে শুধু উলটা করে দেখায় কিন্তু নতুন কোন লিস্ট তৈরি করেনা |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        mylist = [1, 2, 3, 4, 5]
        <br>mylist[::-1]
        <br>print(mylist)
        <br>output:[5, 4, 3, 2, 1]
    </div>
</div>

<div class="post pb-4">
    <h3 style="font-size: 25px"><b> রিভার্স ইটারেটর এর মাধ্যমে লিস্ট রিভার্স করাঃ</b></h3>
    <p>রিভার্স ইটারেটরের মাধ্যমেও আমরা কোন লিস্ট কে রিভার্স করতে পারি |
        এটাও নতুন কোন লিস্ট তৈরিও করেনা পূর্বের লিস্ট এর কোন পরিবর্তনও করেনা ,
        শুধুমাত্র ইটারেটর জেনারেট করে লিস্ট টা দেখায় |
    </p>
    <div class="card p-4 col-10" style="background-color:rgba(63, 115, 139, 0.795)">
        mylist = [1, 2, 3, 4, 5]
        <br> for item in reversed(mylist):
        <br> ....print(item)
        <br>output:
        <br>5
        <br>4
        <br>3
        <br>2
        <br>1
        <br>print(mylist)
        <br>output:[5, 4, 3, 2, 1]
    </div>
    <p>
        দেখা যাচ্ছে পূর্বের লিস্ট এর কোন পরিবর্তন হয়নি |
    </p>
</div>



<h3 style="font-size: 25px"> লিস্টের উপাদান মুছে ফেলাঃ </h3>
<p>লিস্টের কোন উপদান মুছে ফেলার জন্য তিনটি মেথড রয়েছে <strong>remove()</strong>,<strong>del()</strong>,<strong>pop()</strong>.<br>
    <br><strong>remove()</strong> মেথড সরাসরি ভেলু নিয়ে কাজ করে | মেথডে ভেলু পাস করার পর যদি সে লিস্টে
    ওই ভেলুটি পায় তাহলে মুল লিস্ট থেকে ভেলুটি মুছে দেয় অন্যথায় ValueError থ্রো করে |
    <div class="code">
        a = [0, 2, 3, 2]
        <br> a.remove(2)
        <br> ....print(a)
        <br>output:[0, 3, 2]
        <br>
        <br>a.remove(7)
        <br>Traceback (most recent call last):
        <br>File "stdin", line 1, in module
        <br>ValueError: list.remove(x): x not in list

    </div>
</p>

<p><strong>del()</strong> মেথড ইন্ডেক্স এর ভিত্তিতে কাজ করে | মেথডে ভেলু পাস করার পর যদি সে লিস্টে ওই ভেলুটি পায় তাহলে
    মুল লিস্ট থেকে ভেলুটি মুছে দেয় অন্যথায় IndexError থ্রো করে |
    <div class="code">
        a = [3, 2, 2, 1]
        <br> del a[1]
        <br> print(a)
        <br>output:[3, 2, 1]
        <br>
        <br>del a[7]
        <br>Traceback (most recent call last):
        <br>File "stdin", line 1, in module
        <br>IndexError: list assignment index out of range
    </div>
</p>

<p><strong>pop()</strong> ইন্ডেক্স এর ভিত্তিতে কাজ করে | মেথডে সরাসরি ইন্ডেক্স পাস করতে হয় |ইন্ডেক্স পাস করার
    পর যদি সে লিস্টে ওই ইন্ডেক্স পায় তাহলে মুল লিস্ট থেকে ইন্ডেক্সটির ভেলুটি মুছে দেয় এবং তা রিটার্ন করে , অন্যথায়
    IndexError থ্রো করে |
    <div class="code">
        a = [3, 2, 4, 1]
        <br> print(pop(1))
        <br>output:2
        <br> print(a)
        <br>output:[3, 4, 1]
        <br>
        <br>pop a[7]
        <br>Traceback (most recent call last):
        <br>File "stdin", line 1, in module
        <br>IndexError: pop index out of range
    </div>
</p>



<hr>
<div class="clearfix">
    <button type="button" class="btn bg-dark float-left"><a class="p-4" href="{% url 'Python/built_in_function2'%}"
            style="color:white;">Previous </a></button>
    <button type="button" class="btn bg-dark float-right">
        <a class="p-4" href="{% url 'Python/string_operation'%}" style="color:white;">Next</a>
    </button>
</div>



{% endblock %}