{% extends 'index.html'%}
{% block content%}
<h1 style="text-align: center;"> স্ট্রিং অপারেশনস </h1>
<p>
    এই পর্বে আমরা একটা গুরুত্বপূর্ণ ডাটা স্ট্রাকচার 'String' নিয়ে আলোচনা করবো এবং কিছু বিল্ট ইন স্ট্রিং মেথড এর সাথে
    পরিচিত হবো |</p>
<h3 style="font-size: 25px"> স্ট্রিংএর কমন মেথডগুলো ...... </h3><br>
<p><strong> s.lower() , s.upper() মেথডঃ </strong> কোন স্ট্রিং বড় হাতের অক্ষর আছে নাকি ছোট
    হাতের অক্ষর আছে তা বের করার জন্য এই দুইটা মেথড ব্যবহার করা হয় |
    যদি বড় হাতের হয় তাহলে True রিটার্ন করে অন্যথায় False রিটার্ন করে |
    <div class="code">
        string = 'SHRIF'
        <br>print(string.isupper())
        <br>True

        <br>string = 'sharif'
        <br>print(string.isupper())
        <br>False
    </div>
    <p>একই ভাবে আমরা কোন স্ট্রিং এর একটি ক্যারেক্টার কেউ চেক করতে পারি |
        <div class="code">
            string = 'SHRIF'
            <br>print(string[0].isupper())
            <br>True

            <br>string = 'sharif'
            <br>print(string[2].isupper())
            <br>False
        </div>

    </p>

    <p><strong> s.isalpha() , s.isdigit() , s.isspace() মেথডঃ </strong> কোন স্ট্রিং এর একটি ক্যারেক্টার ডিজিট কিনা ,
        এলফাবেট কিনা ,
        স্পেস কিনা তা চেক করার জন্য এই মেথড গুলো ব্যবহার করা হয় |
        যদি কন্ডিশন ফুলফিল করে তাহলে True রিটার্ন করে অন্যথায় False রিটার্ন করে |
        <div class="code">
            string = 'SHRIF'
            <br>print(string[0].isalpha())
            <br>True
            <br>print(string[0].isdigit())
            <br>False
            <br>print(string[0].isspace())
            <br>False

            <br><br>print('4'.isdigit())
            <br>True

        </div>
    </p>

    <p><strong> find() মেথডঃ </strong> মূলত সিনটেক্সট টা এমন <b> find(sub,start,end) </b> | স্ট্রিং এর ভিতরে কোন
        সাবস্ট্রিং আছে
        কিনা তা চেক করার জন্য এই মেথড ব্যবহার করা হয় |
        স্ট্রিং এর ভিতরে যদি সাবস্ট্রিং টি পাওয়া যায় তাহলে তার 1st
        ইনডেক্স টা রিটার্ন করে অন্যথায় -1 রিটার্ন করে |<br>
        এখানে start এবং end অপশনাল | start এবং end দিয়ে বুঝানো হয় আমরা start নামক ইনডেক্স থেকে শুরু করে end
        এ গিয়ে serching শেষ করবো |
        আর যদি উল্লেখ না করি তাহলে তা সমস্ত স্ট্রিং জুরেই search করবে |

        <div class="code">
            s= "i am the simple"
            <br><br>print(s.find('the'))
            <br>output : 5

            <br><br>print(s.find('simple',5))
            <br>output : 9

            <br><br>print(s.find('am',0,5))
            <br>output : 2

            <br><br>print(s.find('am',4,8))
            <br>output : -1

        </div>
    </p>

    <p><strong> index() মেথডঃ </strong> মূলত সিনটেক্সট টা এমন <b> str.index(str, beg, end)</b> মোটামুটি
        <strong> find() </strong> মেথড এর মতই কাজ করে |
        পার্থক্য হল যার জন্য search করা হচ্ছে তাকে না পেলে <strong> find() </strong> মেথড -1 রিটার্ন করে অন্যদিকে
        <strong> index()</strong> মেথড এক্সেপশন থ্রো করে |
        <div class="code">
            s= "i am the simple"
            <br><br>print(s.index('the'))
            <br>output : 5

            <br><br>print(s.index('simple',5))
            <br>output : 9

            <br><br>print(s.index('am',4,8))
            <br>output : Traceback (most recent call last):
            <br>File "/home/sharif/Documents/python code/test.py", line 2, in <module>
                <br>print(s.index('am',4,8))
                <br>ValueError: substring not found

        </div>
    </p>

    <p><strong>str.count(str, beg, end) মেথডঃ </strong> এটাও মোটামুটি <strong> find() </strong>
        মেথড এর মতই কাজ করে | মুল স্ট্রিং এর ভিতরে সাবস্ট্রিংটি কতবার আছে তা রিটার্ন করে |

        <div class="code">
            s="i am the simple man and i am honest"
            <br><br>print(s.count('am'))
            <br>output : 2

            <br><br>print(s.count('am',5,35))
            <br>output : 1

            <br><br>print(s.count('am',4,8))
            <br>output : 0

        </div>


    </p>



    <p><strong> replace() মেথডঃ </strong> মূলত সিনটেক্সট টা এমন <b> string.replace
            (old, new, count)</b> |
        এখানে <b>old</b> দিয়ে বোঝানো হচ্ছে কোন সাবস্ট্রিং টা রিপ্লেস করতে চাচ্ছি এবং <b>new</b> দিয়ে বোঝানো হচ্ছে আমারা
        যাকে
        দিয়ে রিপ্লেস করবো এবং <b>count</b> অপশনাল | যদি count উল্লেখ করা হয় তাহলে তা |
        আর যদি উল্লেখ না করি তাহলে তা সমস্ত স্ট্রিং জুরেই search করবে এবং রিপ্লেস করবো |
        <div class="code">
            s="i am the simple man and i am honest"

            <br><br>print(s.replace('am','was'))
            <br>output : i was the simple man and i was honest

            <br><br>print(s.replace('am','was',1))
            <br>output : i was the simple man and i am honest

            <br><br>print(s.replace('am','was',2))
            <br>output : i was the simple man and i was honest

        </div>
    </p>

    <p><strong> s.split('delim') মেথডঃ</strong> এই মেথডের বহুবিধ ব্যবহার রয়েছে |
        কোন স্ট্রিং এর প্রতিটা substirng কে একেকটা লিস্ট আইটেম এ পরিণত করা যায় |

        <div class="code">
            s="i am the simple man and i am the honest"

            <br><br>print(s.split())
            <br>output : ['i', 'am', 'the', 'simple', 'man', 'and', 'i', 'am', 'the', 'honest']
        </div>
    </p>

    <p><strong> Join() মেথডঃ </strong> split() মেথড দিয়ে যেমন কোন কে স্ট্রিং এর প্রতিটা substirng কে একেকটা লিস্ট আইটেম
        এ
        পরিণত করা যায় ঠিক তেমনি <strong> join() </strong> মেথড দিয়ে কোন লিস্ট এর প্রত্যেক টি আইটেমকে একসাথে merge করে
        String এ পরিণত করা যায় |
        <div class="code">
            s=['i', 'am', 'the', 'simple', 'man', 'and', 'i', 'am', 'the', 'honest']

            <br><br>print(' '.join(s))
            <br>output : i am the simple man and i am the honest

            <br><br>print('_'.join(s))
            <br>output : i_am_the_simple_man_and_i_am_the_honest
        </div>
    </p>

    <p><strong> s.strip() মেথডঃ </strong> returns a string with whitespace removed from
        the start and end.
    </p>


    <hr>
    <div class="clearfix">
        <button type="button" class="btn bg-dark float-left"><a class="p-4" href="{% url 'Python/list_operation'%}"
                style="color:white;">Previous </a></button>
        <button type="button" class="btn bg-dark float-right">
            <a class="p-4" href="{% url 'Python/dictionary_operation'%}" style="color:white;">Next</a>
        </button>
    </div>

    {% endblock %}