{% load staticfiles%}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">


    <title>Sharif's Notebook</title>
</head>

<body>

    <div class="container-fluid pt-4" style="background-color:rgb(43, 134, 146);">
        <div class="container pt-4 pb-4">
            <div class="row">
                <div class="center-block">

                    <a href="{% url 'home' %}" style="text-decoration:none;">
                        <h1 style="color:white;">
                            Sharif's Notebook</h1>
                    </a> </h1>
                    <p>"Chase Your Dream, Coz Dreams Come True."</p>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <a class="navbar-brand btn btn-light" href="{% url 'Others/Home'%}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active ">
                        <a class="nav-link btn btn-light my-2 mx-2 my-lg-0" href="#">About Me <span class=" sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link btn btn-light my-2 mx-2 my-lg-0" href="#">Contact Me</a>
                    </li>

                    <form class="form-inline my-2 mx-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search Topics" aria-label="Search">
                        <button class="btn btn btn-dark my-2 my-sm-0" type="submit">Search</button>

                    </form>

                </ul>


                <ul class="navbar-nav ml-auto">
                    {%if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <button class="btn btn-success nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</button>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change_password</a>
                            <a class="dropdown-item" href="#">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>



                    {%else%}
                    <form class="form-inline my-2 my-lg-0">
                        <a href="#" class="btn btn-dark p-2">Log in</a>
                        <a href="#" class="btn btn-dark p-2 ml-2">Sign up</a>
                    </form>
                    {%endif%}
                </ul>






            </div>
        </nav>
    </div>
    </div>

    <div class="container-fluid">
        <div class="shadow-lg p-4 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-3 pt-4 clearfix text-center" style="background-color:rgb(222, 228, 240)">
                    <div id="wrapper ">
                        <div class="card"">
                            <div class=" card-header">
                                <h1> <a href="#" data-toggle="collapse" data-target="#demo2" style="font-size:30px;">
                                    Recent Posts</a></h1>
                        </div>
                    </div>


                    {% block content%}


                    {% endblock %}
                </div>
                <!--end Wrapper-->
            </div>
            <!--end col3-->
        </div>
        <!--end shadow-->
    </div>
    <!--end row-->
    </div>
    <!--end container-->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>