{% extends 'OthersHome.html'%}
{% load staticfiles%}

{% block content%}

<h1 style="text-align: center;"><b>Git Version Control</b></h1>


<div class="post pb-1 pt-2">
    <p class="pb-2 pt-3" style="font-size:18px;">
        ডেভেলপমেন্ট এর জগতে গুরুত্বপূর্ণ যে কয়টি টুল আছে তার মধ্যে গিট হচ্ছে অন্যতম | আমার মতে এটি সবচেয়ে ইউজফুল টুল |<br>

        আমরা সাধারণত যা করি, আমাদের প্রোজেক্ট এ কোন নতুন ফিচার অ্যাড করি, তারপর তা টেস্ট করি |
        টেস্ট করার পর যদি মনে হয় ঠিক আছে তাহলে সেই ফিচার টা রেখে দেই আর যদি মনে হয় না আগের টাই ভাল ছিল
        তখন আবার আগের টাতে ফিরে যাই , কোথায় কোথায় চেঞ্জ করেছিলাম তা খুঁজে বের করে তা আগের মত করে সাজাই |<br>
        যদি অনেক বড় প্রজেক্ট হয় তাহলে ঠেলাটা বুঝুন কেমন লাগবে ???
        এভাবে কাজ করাটা কতটা বিরক্তি কর আর সময়সাপেক্ষ ???
        তখন কিন্তু মনে হওয়াটা স্বাভাবিক যদি একটা আলাদীনের চেরাগ পাইতাম যা আমাকে টাইম মেশিনে করে আগের কাজটা ফিরায় দিবে |<br>
        ঠিক এই কাজটাই গিট খুব সহজেই করে দেয় |
        শুধু এটাই নয় গিট আপনার প্রতিটা কাজ ট্রাক করে রাখবে | কোথায় চেঞ্জ করেছিলেন তার প্রতিটা চেঞ্জ
        আলাদাভাবে ট্রাক করে রাখবে এবং আপনার প্রতিটা কাজের ট্রাক সেভ করে রাখে|
        আপনি চাইলেই আপনার পূর্বের ফিচার এ ফিরে যেতে পারবেন |
        অনেক বকর বকর করলাম নিজের খেয়ে গিট এর সাফাই গাইলাম এইবারর কাজের কাজে আসি .....
    </p>
</div>



<div class="post pb-1 pt-2">
    <h3 style="font-size: 25px">গিট ইন্সটল করিঃ</h3>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            For Ubuntu $ sudo apt install git
            <br>For Fedora $ sudo dnf install git

        </p>

    </div>

</div>

<div class="post pb-1 pt-2">

    <p class="pb-2 pt-3" style="font-size:18px;">
        নিচের কমান্ড দিয়ে ভার্সন চেক করুন
    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git --version

        </p>

    </div>
</div>

<div class="post pb-1 pt-2">
    <h3 style="font-size: 25px">গিট কনফিগার করিঃ</h3>
    <p class="pb-2 pt-3" style="font-size:18px;">
        নিচের দুইটা পদ্বতির মাধ্যমে গিট কনফিগার করা যায় |
    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">

            $ git config --global user.name "User_name"
            <br>$ git config --global user.email "User_Email"

            <br><br> $ git config user.name "User_name"
            <br>$ git config user.email "User_Email"
        </p>

    </div>
    <p class="pb-2 pt-3" style="font-size:18px;">
        পার্থক্যটা হয়ত ধরতে পেরেছেন | সমস্যাটা --global কে নিয়ে
        ধরুন আপনি আপনার সকল প্রোজেক্ট এর জন্য একটা গিট ইউজ করতে চাচ্ছেন তাহলে এই --global কিওয়ার্ড ইউজ করতে হবে
        আর যদি চান যে না আমি প্রত্যেকটা প্রোজেক্টে আলাদা আলাদা গিট ইউজ করবো তাহলে ২নং টা ইউজ করতে হবে |
    </p>

</div>

<div class="post pb-1 pt-2">
    <h3><b> গিট রিপোজিটরি(রিপো) তৈরি করুনঃ </b></h3>
    <p class="pb-2 pt-3" style="font-size:18px;">
        গিটে ডিরেক্টরিকেই রিপোজিটরি সংক্ষেপে রিপো বলে |
        যেই ডিরেক্টরিতে আপনার প্রোজেক্ট টি আছে সেখানে যান |
        আমার প্রোজেক্ট project নামে একটি ডিরেক্টরি আছে এবং এটাতে দুটো ফাইল আছে my_file.txt ও index.html নামে
        এটাতে আমি গিট ইউজ করতে চাচ্ছি | <br>

        গিটে ডিরেক্টরিকেই রিপোজিটরি সংক্ষেপে রিপো বলে |
        যেই ডিরেক্টরিতে আপনার প্রোজেক্ট টি আছে সেখানে যান |
        আমার প্রোজেক্ট project নামে একটি ডিরেক্টরি আছে এটাতে আমি গিট ইউজ করতে চাচ্ছি |
        এর জন্য নিচের কমান্ড টি দিয়ে গিট কে জানিয়ে দিন হে গিট বাবা আমি এই ডিরেক্টরি আপনার নামে সপে দিলাম

    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">

            $ cd project <br>
            $ git init

        </p>
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        কমান্ড টি দেয়ার পর নিচের মত আউটপুট পাই |
    </p>

    <div class="image">
        <img src="{% static 'images/git1.png'%}" alt="logo">
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        বলতে পারি আমার ডিরেক্টরি গিটের নামে সপে দেয়া হয়েছে
        অর্থাৎ এই ডিরেক্টরির ভিতরে আপাতত যা কিছু আছে গিট সবকিছু ট্রাক করতে পারবে | <br><br>

        বলে রাখি, গিট আপনার সবকিছু কিন্তু এখনি ভার্সন হিসাবে সেভ করবে না এর জন্য আর একটু
        কষ্ট করা লাগবে | আস্তে আস্তে সামনের দিকে যান ...... </p>

</div>

<div class="post pb-1 pt-2">
    <h3><b> গিটের স্ট্যাটাস দেখিঃ</b></h3>
    <p class="pb-2 pt-3" style="font-size:18px;">
        গিটের বর্তমান অবস্থা জানার জন্য নিচের কমান্ড দিন

    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git status
        </p>
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        আর এটা হচ্ছে আমার গিটের বর্তমান অবস্থা |
    </p>

    <div class="image">
        <img src="{% static 'images/pic2.png'%}" alt="logo">
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        গিটের সাথে আমার ডিরেক্টরি কে পরিচয় করিয়ে দেয়া হয়েছে ঠিকি কিন্তু কোন কোন ফাইলকে
        সে ট্রাক করবে তা কিন্তু গিটকে জানানো হয়নি, সে এই কাজটা কিন্তু নিজে নিজে করবেনা , তাকে জানিয়ে দিতে হবে গিট বাবা
        তুমি আমার এই
        এই ফাইল কে ট্রাক কর অথবা সবগুলাই ট্রাক কর |
        <br>একটু খেয়াল করে দেখুন গিট কিন্তু আমাদের কিছু সাজেস্ট করতেছে ফাইলে অ্যাড করার জন্য এই এই কমান্ড দিন |
        তো চলুন দেরি কেন অ্যাড করে দেই ...

    </p>

</div>


<div class="post pb-1 pt-2">
    <h3><b>শুরু করুনঃ </b></h3>
    <p class="pb-2 pt-3" style="font-size:18px;">
        যেহেতু আমার ডিরেক্টরি তে দুইটা ফাইল আছে আমি চাচ্ছি আপাতত গিট index.html ফাইলকে ট্রাক করুক |
        পরে যদি প্রয়োজন হয় অন্য ফাইল গুলকেও ট্রাক করতে বলবো |
        এর জন্য নিচের কমান্ড দিন

    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git add index.html
        </p>
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        যেহেতু আমি কে ট্রাক করতে চাচ্ছি তাই ফাইলনেম হিসাবে দিয়েছি আপনি যাকে ট্রাক করতে চান তার নাম দিন |
        <br>এখন গিট আপনার জন্য কি করলো তা দেখার জন্য গিটের স্ট্যাটাস চেক করুন </p>
    </p>

    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git status
        </p>
    </div>
    <p class="pb-2 pt-3" style="font-size:18px;">
        গিট বাবা আমার জন্য নিচের কাজটি করে দিয়েছে |</p>

    <div class="image">
        <img src="{% static 'images/pic2.png'%}" alt="logo">
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        খেয়াল করুন এখানে দুইটা পার্ট দেখা যাচ্ছে | প্রথমটা Changes to be committed: এবং পরেরটা Untracked file: |
        আপনি যেই ফাইলটা ট্রাক করতে বলেছেন সেটা প্রথন অংশে আছে এবং পরেরটাতে যেই ফাইলটা ট্রাক করতে বলেননি সেটাকে স্টোর
        করেছে |
        <br>বুঝতেই পারতেছেন গিট ঘটনা ঘটায় দিছে |
        <br><br>
        এখন আমরা চাচ্ছি গিট ডিরেক্টরিতে রাখা সব ফাইল গুলোকেই ট্রাক করুক,
        তাহলে নিচের কমান্ড দিন , এরপর আবার গিটের স্ট্যাটাস চেক করুন এবং দেখুন গিট আপনার জন্য কিছু করেছে কিনা
    </p>

    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git add --all <br>
            $ git status
        </p>
    </div>
    <p class="pb-2 pt-3" style="font-size:18px;">
        গিট আমার জন্য নিচের কাজটা করেছে
    </p>
    <div class="image">
        <img src="{% static 'images/pic2.png'%}" alt="logo">
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        বুঝতেই পারতেছেন ডিরেক্টরি তে যত ফাইল ছিল সব তার আওতায় নিয়ে নিয়েছে |
        <br>একটু খেয়াল করুন Changes to be committed:
        এইরকম কিছু একটা দেখা যাচ্ছে এইটা আবার কি ???
    </p>

</div>


<div class="post pb-1 pt-2">
    <h3><b>কমিট করাঃ</b></h3>
    <p class="pb-2 pt-3" style="font-size:18px;">
        আপনি যে আপনার ফাইল গুলো গিটে সপে দিয়েছেন এইগুলা তো সবসময় আর এইভাবেই থাকবেনা
        মাঝে মাঝে এডিট টেডিট করবেন তাই নয় কি??<br>
        এখন আপনি কি কি চেঞ্জ করলেন এইটা বোঝার জন্য কমেন্ট করতে হয় |
        গিট কমিট দিয়ে আপনি কমেন্ট করে বলে রাখেন এই ফাইল টা আপনি এই এই জায়গায় এই এই জন্য এডিট করেছিলেন |<br>
        এটাতে আপনারই লাভ, আপনার বুঝতে সুবিধা হবে যে আগের ফাইল টা কি রকম ছিল
        ,কোথায় চেঞ্জ করেছিলেন, আগের ভার্সন এ ফিরে যেতেও সুবিধা পাবেন |
        <br>তো কমিট করে ফেলুন ...।।
    </p>
    <div class="alert alert-primary" role="alert">
        <p style="color:green">
            $ git commit -m "index.html & my_file.txt added for 1st time"
        </p>
    </div>

    <p class="pb-2 pt-3" style="font-size:18px;">
        মুটামুটি বলা যায় বেসিক কাজটুকু করে ফেলেছেন
        মানে আপনার প্রোজেক্ট টি এখন গিটের উপর সপে দেয়া আছে |
        আপনি গিটের ফায়দা লুটতে থাকেন |
        <br><br>এই পর্ব এই পর্যন্তই | এর মাধ্যমে আপনি বেসিক কিছু শিখলেন |
        গিট সম্বন্ধে আরও অনেক জানার আছে | আমার জানামতে সবচেয়ে ভাল রিসোর্স টা
        <button type="button" class="btn btn-outline-info ">
            <a href="https://git-scm.com/book/en/v2" style="color: red">এখানে </a></button> পাবেন |
        গিট এর আডভান্স কিছু টপিক নিয়ে পরে আর একটা টপিক লিখার ইচ্ছা আছে ইনশাআল্লাহ |

    </p>

</div>


<hr>
<div class="clearfix">
    <button type="button" class="btn bg-dark float-left"><a class="p-4" href="#" style="color:white;">
            Previous </a></button>
    <button type="button" class="btn bg-dark float-right">
        <a class="p-4" href="{% url 'Others/github2'%}" style="color:white;">Next</a>
    </button>
</div>


{% endblock %}