{% extends 'OthersHome.html'%}
{% load staticfiles%}

{% block content%}


<div class="post">
    <h2><b>Git And GitHub Part-1</b></h2>
    <p class="pb-4" style="font-size:18px;">
            ডেভেলপমেন্ট এর জগতে গুরুত্বপূর্ণ যে কয়টি টুল আছে তার মধ্যে গিট হচ্ছে অন্যতম | আমার মতে এটি সবচেয়ে ইউজফুল টুল |<br><br>
            আমরা সাধারণত যা করি, আমাদের প্রোজেক্ট এ কোন নতুন ফিচার অ্যাড করি, তারপর তা টেস্ট করি |
             টেস্ট করার পর যদি মনে হয় ঠিক আছে তাহলে সেই ফিচার টা রেখে দেই আর যদি মনে হয় না 
             আগের টাই ভাল ছিল তখন আবার আগের টাতে ফিরে যাই , কোথায় কোথায় চেঞ্জ করেছিলাম 
             তা খুঁজে বের করে তা আগের মত করে সাজাই |
            যদি অনেক বড় প্রজেক্ট হয় তাহলে ঠেলাটা বুঝুন কেমন লাগবে ??? 
            এভাবে কাজ করাটা কতটা বিরক্তি কর আর সময়সাপেক্ষ ??? তখন কিন্তু মনে হওয়াটা স্বাভাবিক যদি 
            একটা আলাদীনের চেরাগ পাইতাম যা আমাকে টাইম মেশিনে করে আগের কাজটা ফিরায় দিবে |
    </p>

    <a href="{%url 'Others/github1'%}"><button type="button" class="btn btn-outline-info btn-lg btn-block">
            Continue Reading.....</button><br></a>
    <hr>
</div>

<div class="post">
    <h2><b>Git And GitHub Part-2</b></h2>
    <p class="pb-4">
            এর আগের পর্বে আমরা গিট ভার্সন কন্ট্রল নিয়ে মূটামুটি ধারনা পেয়েছি এই পর্বে গিটহাব নিয়ে হাল্কা পাতলা জানবো | 
            গিটহাব এক ধরনের হোস্টিং সার্ভিস প্রভাইডার যা গিট ভার্সন কন্ট্রোল এর জন্য হোস্ট প্রভাইড করে | 
            শুধু গিটহাবই না আরও আছে যেমন বলা যায় গিটল্যাব, গিটবাকেট |<br><br>
            ধরুন আপনি একটি কোম্পানিতে কর্মরত আছেন এবং আপনারা কয়েকজন ডেভেলপার একসাথে
             একই প্রোজেক্ট এর কাজ করছেন , আপনাদের কাজ রেগুলার আপডেট হচ্ছে , 
             আপনাদের সবাইকে আপডেট থাকতে হচ্ছে এই মুহূর্তে কতটা আপডেট হল ,
              ঠিক কোন জায়গায় আপডেট হল, এক জনের কোড অন্য জনকে দেখতে হচ্ছে এই
               ক্ষেত্রে আমার মতে গিটহাব আপনাকে অনেক সাহায্য করতে পারে |
    </p>
    <a href="{%url 'Others/github2'%}"><button type="button" class="btn btn-outline-info btn-lg btn-block">
            Continue Reading.....</button><br></a>
    <hr>

</div>

<div class="post">
    <h2><b>উবুন্টুতে অভ্র ইন্সটল |</b></h2>
    <p class="pb-4">
            প্রথমেই ধন্যবাদ দিতে হয় যাদের অক্লান্ত পরিশ্রমের ফলে অভ্র কিবোর্ড তৈরি হয়েছে | 
            এই পর্বে আমরা জানবো উবুন্টুতে কিভাবে অভ্র ইন্সটল করা যায় (মূলত ubuntu 17 & 18) |

           <br> টার্মিনাল ওপেন করুন এবং নিচের কমান্ডগুলো চালান |
    </p>
    <a href="{%url 'Others/Avro'%}"><button type="button" class="btn btn-outline-info btn-lg btn-block">
            Continue Reading.....</button><br></a>
    <hr>
</div>

<div class="post">
    <h2><b>আপনার প্রজেক্ট ফ্রিতে হোস্ট করুন | </b></h2>
    <p class="pb-4">
            pythonanywhere.com আপনাকে আপনার পাইথন প্রোজেক্ট ফ্রিতে হোস্ট করতে দেয় | 
            আপনাকে মোট 512.0 MB ডাটা রাখতে দিবে আর আপনি যদি পেইড কাস্টমার হয়ে থাকেন তাহলে তো কোন কথাই নেই |<br> <br>
            PythonAnywhere এ কোন প্রজেক্ট Deploy করা PC এর লোকালহস্টে প্রোজেক্ট রান করার মতই | 
            আপনি এখানেও ভারচুয়াল ইনভাইরনমেন্ট বানাতে পারবেন,চাইলে কোড এডিট করতে পারবেন , গিটে কমিট করতে পারবেন | 
            সবচেয়ে মজার বেপার হল,Dnajgo প্রজেক্ট লোকালহস্টে রান করার জন্য যেই কমান্ডগুলো দিতেন এখানের কমান্ডগুলোও প্রায় সেইম | 
    </p>
    <a href="{%url 'Others/Host_project'%}"><button type="button" class="btn btn-outline-info btn-lg btn-block">
            Continue Reading.....</button><br></a>
    <hr>
</div>






{% endblock %}